h1 {
  height: 25px;
  font-family: "Lobster";
  font-size: 50px;
  color: darkred;
}

body {
  text-align: center;
  font-family: Lobster, serif;
  font-size : 30px;
  background: url(https://res.cloudinary.com/damage/image/upload/v1462620432/3122_chuck_norris_thnksn.jpg) no-repeat center fixed;
  background-size: cover;
  background-position: center;
  color: darkred;
}

.fact {
  font-family: Lobster, serif;
  font-size: 2.0em;
  height: auto;
  margin: 0 auto;
  background-color: #efefef;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  color: black;
  box-shadow: -10px 10px 20px rgba(100, 100, 100, .9);
}

.btn {
  display: inline-block;
  color: #000;
  border: 2px outset rgba(0, 0, 0, 0.9);
  background: #efefef;
  background-color: rgba(255, 255, 255, 0.7);
  text-shadow: 1px 1px 1px rgba(0,0,0, 20);
  box-shadow: -10px 10px 20px rgba(100, 100, 100, .9);
  letter-spacing: 2px;
  transition: 0.2s;
         }

.btn:hover {
           color: #fff;
  border: 2px outset rgba(0, 0, 0, 0.9);
  background: rgba(0,0,0, 0.9);
  transform:scale(1.1);
  transition: 0.2s;
  text-shadow: 1px 1px 1px rgba(0,0,0, 20);
  box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
  letter-spacing: 2px;
         }

footer {
           font-size: 80%;
           padding: 7px 0px 0px 0px;
           text-align: left;
           color: black;
}

a {
    color: darkblue;
}
